.name-cell{
    text-align: center;
    text-transform: capitalize;
    background-color:#cef0b8;
}

.phone-cell{
    text-align: center;
    background-color:#a2e277;
}

.email-cell{
    text-align: center;
    background-color:#8ae039;
}

.DOB-cell{
    text-align: center;
    background-color:#66c266;
}

.image-cell{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }