.header {
    padding: 30px 0;
    font-family: 'Press Start 2P', cursive;
    color: #080808;
    background-color:#ffffff;
    width: 100%;
    text-align: center;
    border-bottom: 10px solid #ffffff;
    margin-bottom: 10px;
}